<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>
  {{pageTitle}}
</title>
</head>
<body>
  {{> header}}
  <p>This website doesn't have much use yet.  Stay tuned for awesome updates!!!</p>
  {{> footer}}
</body>
</html>
