<!DOCTYPE html>
<html>
<head>
  <h1>
    Server under maintenance!
  </h1>
</head>
<body>
<p>
Check back in a little bit.  The server needs a break.
</p>
<button id="button" onclick="increasetimes()">
  You have clicked this button 0 times, go ahead, click it!
</button>
<script>
var times = 0;
function increasetimes() {
  times = times + 1;
  document.getElementById("button").innerHTML = `You have clicked this button  ${times}  times, go ahead, click it!`;
};
</script>
</body>
</html>
